---
layout: default
---

{% include page-intro.html %}

<main id="main" class="page-content" aria-label="Content">
  <div class="inner">
    <article class="entry-wrap">
      <iframe frameborder="no" border="0" marginwidth="0" marginheight="0" width=330 height=86 src="//music.163.com/outchain/player?type=2&id= {\{ page.music-id }\}&auto=1&height=66"></iframe>
      <div class="entry-content" style="text-align:justify; text-justify:inter-word;">
        {{ content }}
      </div>
      {% if site.disqus.shortname %}
        {% include disqus_comments.html %}
      {% endif %}
    </article>

    {% include footer.html %}
  </div>
</main>
